
    #iframe#_hjRemoteVarsFrame {
      display: none !important; 
      width: 1px !important;
      height: 1px !important; 
      opacity: 0 !important; 
      pointer-events: none !important;
  }


    #waw-search-results.waw-search-container {
      background-color: rgb(255, 255, 255);
      width: 800px;
      left: 0;
      top: 42px;
      padding: 20px 10px;
      font-size: 0px;
      display: none;
      box-sizing: border-box;
      position: absolute;
      z-index: 99999999999;
      box-shadow: 0px 4px 10px 0px rgba(189, 189, 189, 0.4);
      border-radius: 20px;
    }
    .waw-open {
      display: flex !important;
    }
    
    .waw-selected {
      color: #01b3c8 !important;
      font-weight: 600;
      transition: all 0.2s ease;
    }
    
    #waw-search-results .w-cls {
      display: none;
      position: absolute;
      right: 10px;
      top: 0;
      z-index: 9;
      padding: 5px 10px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }
    
    #waw-search-results h3 {
      color: #58585a;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 9px;
      margin-top: 0px;
      text-transform: capitalize;
    }
    #waw-search-results .waw-search-sidebar {
      width: 25%;
      padding: 20px 0px;
    }
    #waw-search-results .waw-search-sidebar h3 {
      padding-left: 8px;
      padding-right: 8px;
    }
    #waw-search-results .waw-search-sidebar,
    #waw-search-results .waw-search-products {
      font-size: 14px;
      box-sizing: border-box;
      padding: 0px 10px;
      overflow-y: auto;
    }
    
    #waw-search-results .waw-search-sidebar ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      font-size: 12px;
      margin-bottom: 20px;
      display: block;
      height: 148px;
      overflow: auto;
    }
    
    #waw-search-results .waw-search-sidebar li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #58585a;
      display: block;
      padding: 5px 8px 5px 8px;
      cursor: default;
      font-size: 12px;
      text-transform: capitalize;
    }
    
    #waw-search-results hr {
      background-color: rgba(0, 0, 0, 0.15);
      height: 1px;
      border: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
    }
    
    #waw-search-results .waw-search-sidebar hr {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
    }
    #waw-search-results .waw-search-sidebar ul:last-child {
      margin-bottom: 0px;
    }
    #waw-search-results .waw-search-products {
      width: 75%;
      background-color: white;
      vertical-align: top;
      position: relative;
      z-index: -1;
    }
    
    #waw-search-results .waw-search-products .waw-products {
      overflow: auto;
      height: 360px;
    }
    
    #waw-search-results .waw-search-product-image {
      float: left;
      min-width: 90px;
      height: 100px;
      position: relative;
      overflow: hidden;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }
    #waw-search-results .waw-search-product-image img {
      object-fit: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }
    #waw-search-results .waw-search-product-info {
      padding-left: 10px;
      overflow: hidden;
    }
    #waw-search-results .waw-search-product-info-name,
    #waw-search-results .waw-search-product-info-category {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: inherit;
      display: block;
    }
    
    #waw-search-results .waw-search-product-info-category {
      color: #a8a9ac;
      font-size: 11px;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    #waw-search-results .waw-search-product-info-name {
      color: #58585a;
      font-size: 13px;
      margin-bottom: 2px;
    }
    #waw-search-results .waw-search-product-info-price {
      color: #818285;
      font-size: 11px;
    }
    #waw-search-results span.waw-search-product-info-oldPrice {
      text-decoration: line-through;
      color: #d1d2d4;
      margin-left: 5px;
    }
    
    #waw-search-results .waw-products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-content: flex-start;
    }
    
    #waw-search-results .waw-products .waw-product {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    #waw-search-results .waw-products .waw-product a {
      text-decoration: none;
    }
    #waw-search-results .waw-products .waw-product-item {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 15px;
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      align-items: center;
    }
    
    #waw-search-results .waw-product .waw-product-item:hover {
      transition: all 0.3s ease;
    }
    #waw-search-results .waw-product .waw-product-item:hover {
      box-shadow: 0px 0px 9px 0px #e0e0e0;
    }
    #waw-search-results .waw-product .waw-product-item:hover .product-detail h3 {
      color: #01b3c8 !important;
    }
    #waw-search-results .waw-products .waw-product-item .product-img {
      width: 30%;
      height: 90px;
    }
    #waw-search-results .waw-products .waw-product-item .product-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    #waw-search-results .waw-products .waw-product-item .product-detail {
      width: 70%;
      padding-left: 10px;
      overflow: hidden;
      line-height: 18px;
    }
    #waw-search-results .waw-products .waw-product-item .product-detail h3,
    #waw-search-results .waw-products .waw-product-item .product-detail span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    
    #waw-search-results .waw-products .waw-product-item .product-detail h3 {
      font-size: 13px;
      margin-bottom: 5px;
      height: 35px !important;
      white-space: normal !important;
    }
    #waw-search-results .waw-products .waw-product-item .product-detail span {
      color: #8c8c8c;
      display: block;
      font-size: 11px;
      margin-bottom: 0.2rem !important;
    }
    #waw-search-results .waw-products .waw-product-item .product-detail span:first-child {
      text-transform: capitalize;
    }
    #waw-search-results .waw-products .waw-product-item .product-detail span.price {
      color: rgb(225, 61, 61) !important;
      font-size: 13px !important;
      font-weight: 560 !important;
    }
    
    
    @media only screen and (max-width: 767px) {
      #waw-search-results h3{
        margin-top: 7px;
      }
      #waw-search-results.waw-search-container {
        width: 680px;
        top: 33px;
      }
    }
    @media only screen and (max-width: 650px) {
      
      #waw-search-results.waw-search-container {
        width: 100%;
      }
      #waw-search-results .waw-search-sidebar {
        display: none;
      }
      #waw-search-results .waw-search-products {
        width: 100%;
      }
      #waw-search-results .waw-products .waw-product {
        flex: 0 0 100%;
        max-width: 100%;
      }
    
      #waw-search-results .w-cls {
        display: block;
      }
    }
    

    <style id="insider-custom-css-c807" type="text/css" classname="insider-custom-style"
     class="insider-custom-style">.headersticky{
      position: fixed!important;
      top: 0;
     }